.App {
  padding: 20px;
  width: 900px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.card{
  background: white;
  padding: 15px;
  border-radius: 5px;
  min-width: 400px;
  margin: 0 0 20px 20px;
}

.App h1{
  margin-left: 20px;
}

.error{
  padding: 4px;
  border: 1px solid #ff2200
}

.form label{
  display: block;
  margin-bottom: 20px
}