html, body{
  height: 100%;
}

body {
  color: rgba(0, 0 , 0, 0.8);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header{
  background: #EC7000;
  text-align: center;
  padding: 20px;
  color: white;
}

#root{
  height: 100%;
}

aside{
  margin: 20px 0 0 20px;
  height: 90vh;
  padding: 15px;
  float: left;
  width: 200px;
  background: white;
  border-radius: 3px;
}

.box-shadow{
  box-shadow: 2px 2px 2px #ccc;
}